body {
    min-height: 100vh;
}

@media(min-width: 992px){
    .main-tickets {
        max-width: 70vw;
        margin: 0 auto;
    }
}

@media(min-width: 1200px){
    .main-tickets {
        max-width: 60vw;
        margin: 0 auto;
    }
}