.hero {
    min-height: 88vh;
    background-image: url(../img/hero_final.jpg);
    max-width: 100%;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}